@model Ecommerce.MvcWebUI.Models.CategoryListViewModel
@{
    ViewData["Title"] = "View";
}

<h2>Kategoriler</h2>

<ul class="list-group">

    @foreach (var item in Model.Categories)
    {
        var clas = "list-group-item";
        if (item.CategoryId == Model.CurrentCategory)
        {
            clas += " active";
        }
        <li class="@clas"><a href="/product/index?category=@item.CategoryId">@item.CategoryName</a></li>
    }
</ul> 